:root {

    --azul-clarinho: #A1B8F2;
    --azul-escuro: #2C437D;
    --azul-vibrante: #5F70E8;
    --off-white: #EEF2F1;
    --verde-inscrever-se: #55BE65;
    --verde-escuro-inscrever-se: #012B12;
    --vermelho-excluir: #BA0707;
    --azul-editar: #1831E0;


}

html{
    background-color: black;

}
*{
    padding: 0;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
}
body{
    max-width: 412px;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    background-color: var(--off-white);
    position: relative;
    
    header{
        background-color: #2C437D;
    }

    a{
        display: block;
        color: white;
        text-decoration: none;
    }
    
    nav, h1{
        display: flex;
        margin: 0;
        align-items: center;

    }

    main{
        box-sizing: border-box;
        padding: 30px;
        padding-bottom: 2px;
    }

    h1{
        color: white;
        font-size: 22px;
        align-items: center;
        font-weight: 600;
    }
    h2{
        padding: 12px 0;
        color: var(--azul-escuro);
    
    }
    li{
        list-style: none;
    }
    div:hover a > i, nav > div:hover, a:hover i{
        color: var(--azul-clarinho);
        cursor: pointer;
    }

    .bi::before{
        vertical-align: 0 !important;
    }

    button{
        font-size: 20px;
        width: 100%;
        margin-bottom: 16px;
        padding: 16px 20px;
        background: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        border: 1px solid #2C437D;
        color: var(--azul-escuro);
        cursor: pointer;
        font-weight: 600;
        
        .bi::before {
            vertical-align: -3px !important;
         }
        }

    label{
        font-weight: 600;
        font-size: 18px;
        color: var(--azul-escuro);
    }

    form > div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 20px;
    }

    input, select{
        height: 48px;
        box-sizing: border-box;
        padding: 0 18px;
        border-radius: 5px;
        background: none;
        border: 1px solid #2C437D;
        width: 100%;
    }
    
    input:focus, select:focus{
        outline: none;
        border: 2px solid #2C437D;
    }

    button[type="submit"]{
        color: white;
        background-color: var(--azul-vibrante);
        border: none;}

    .select-container{
        position: relative;
        display: inline-block;
        width: 100%;
    } 
    select{
        width: 100%;
        padding-right: 40px; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #2C437D;
        
        cursor: pointer;
        position: relative;
    }

    .select-container::after {
            content: "\F22C"; /* Código Unicode do chevron-down do Bootstrap */
            font-family: "bootstrap-icons"; /* Ativa a fonte de ícones */
            font-size: 20px;
            color: var(--azul-escuro);
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none; /* Permite clicar através da seta para abrir o select */
        }

    input[placeholder]{
        font-size: 14px;
    }

    #semestre{
        background-color: #A1B8F2;
        border: none;
        color: var(--azul-escuro);
        margin-bottom: 20px;
    }

}


.header-inferior{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit; 
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 10;
    
    
    nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        color: white;
    }

    .bi::before{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-weight: 600;
        text-align: center;
    }
}

.header-superior{

    display: flex;
    align-items: center;
    padding: 18px 30px;

    a{
     height: 26px;
    }

    i{
        color: white;
        font-size: 26px;
    }
    nav{
        justify-content: space-between;
        width: 100%;
    }

    h1 p{
        font-style: italic;
        font-size: 16px;
        color: white;
        padding-left: 6px;
    }

    h1 img{
        height: 20px;
    }
}

.painel-inicial{
    border: 1px solid #2C437D;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 155px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;

    div{
        width: 50%;
    }

   .parte-imagem {
        padding: 10px;
        position: relative; /* Serve de ponto de referência para a imagem */
        
    }
    .betinho-empolgado{
        width: 150px;
    }

    .betinho-gerente{
        width: 180px;
        left: 6px;
    }
    .parte-imagem::before {
        z-index: 1; 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--azul-clarinho);
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    }
    
    img{
        position: absolute;
        top: 10px;
        left: 16px;
        z-index: 2;

    }     

    .parte-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }
    p{
        text-align: end;
        font-weight: 600;
        line-height: 120%;
        color: var(--azul-escuro);
        z-index: 3;
    }

    #estudante{
        font-size: 28px;
    }

    #bem-vindo{
        font-size: 20px;
    }

}

.card-column{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10em;
}

.card{
    min-height: 140px;
    width: 100%;
    border: 1px solid #2C437D;
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    .betinho{
        position: relative;    
        width: 39%;

        img{
            width: 180px;
            position: absolute;
            z-index: 2;
            top: 12px;
            right: 8px;
        }
    }

    .betinho::before{
        z-index: 1; 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--azul-vibrante);
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    
    }

    .informacoes{
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        ol{
            display: flex;
            gap: 10px;
            padding-bottom: 3px;
        }

        li{
            padding: 0 10px;
            border: 1px solid #2C437D;
            border-radius: 30px;
            font-size: 12px;
            font-weight: 600;
            color: var(--azul-escuro);
        }

        h3{
            color: var(--azul-vibrante);
            line-height: 120%;
        }

        p{
            font-size: 14px;
            color: var(--azul-escuro);
        }
        
        

    }

    .betinho-menor{
        width: 140px !important;
    }

    .betinho-natacao{
        width: 260px !important;
        right: -110px !important;
    }
    .betinho-beach-tennis{
        right: -20px !important;
    }

    .betinho-lutas{
        transform: scaleX(-1);
    }

    
    

}

.card:hover{
        background-color: #d6e2ff;
    }

.filtros{
    padding-bottom: 12px;

    ol{
    display: flex;
    justify-content: space-between;

    }
    .filtro{
        border: 1px solid #2C437D;
        padding: 0 8px;
        border-radius: 5px;
        gap: 6px;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px
    }

    .filtro:hover{
        color: white;
        background-color: #2C437D;
    }

     .bi-filter-right:hover{
        color: var(--azul-clarinho);
        cursor: pointer;
    }
    .bi-filter-right::before{
        font-size: 26px;
        
    }
    .bi-caret-down{
        height: 14px;
    }
}

.informacoes-turma{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2C437D;
    border-radius: 10px;
    padding-top: 20px;
    
    ol{
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        padding-top: 20px;
    }

    li{
        display: flex;
        gap: 12px;
        align-items: center;
        color: var(--azul-escuro);
        padding-bottom: 20px;
    }

    i{
        font-size: 20px;
        cursor: default !important;
    }
    i:hover{
        color: --;
    }
    .classificacao, .informacao{
        font-size: 16px;
    }

    .classificacao{
        font-weight: 600;
    }

    .parte-betinho::before {
        z-index: 1; 
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--azul-clarinho);
        clip-path: path('M 0,80 Q 125,170 250,120 T 500,70 L 500,250 L 0,250 Z');
        box-sizing: border-box;
    }
    .parte-betinho{
        height: 230px;
        width: 100%;
        position:relative;
        z-index: 1;
        margin-top:12px;
        

        img{
            max-height: 220px;
            max-width: 300px;
            position: absolute;
            z-index: 2;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}


.opcoes-gerente{
    margin: 32px 0 120px 0;

    .linha-botoes{
        display: flex;
        gap: 12px;
    }

    button:hover{
        color: white;
        background-color: var(--azul-vibrante);
    }

    #editar{
        color: var(--azul-editar);
        border: 1px solid #1831E0;
    }
    #editar:hover{
        color: white;
        background-color: var(--azul-editar);
    }
    #excluir{
        color: var(--vermelho-excluir);
        border: 1px solid #BA0707;}

    #excluir:hover{
        color: white;
        background-color: var(--vermelho-excluir);}
        
    }

#inscrever-se{
    margin: 32px 0;
    color: var(--verde-escuro-inscrever-se);
    background-color: #50b660;
    border: none;
    
    i{
        font-size: 26px;
    }
}

#inscrever-se:hover{
    color: white;
    background-color: #50b660;
}

.criar-turma{
    border: 1px solid #2C437D;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;




}

.turmas-recentes{
    margin-top: 20px;
}

.ola-sou-betinho{
    background-image: url(assets/fundo-gradiente.png);
    height: 240px;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .parte-texto, .parte-imagem{width: 50%;}
    div img{
        position: absolute;
        width:200px;
        z-index: 2;
        top: 32px;
        }

    div p{
        color: white;
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;                   
    }


    #ola{
        font-size: 36px;
    }
    .parte-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 30px;
        padding-bottom: 50px;
    }

}

main.arredondado{
    position: absolute;
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 20px 20px 0 0;
    z-index: 3;
    background-color: var(--off-white);
    top: 200px;

    .opcoes-login{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    form > div{
        padding: 12px 0;
    }
    #continuar-logado{
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--azul-escuro);
        padding-bottom: 12px;
        
        input{
            height: 20px;
            width: min-content;
            background: none;
            outline: none;
        }
    }
    
    #esqueci-senha, #cadastro a{
        color: var(--azul-vibrante);
        text-decoration: underline;
        font-size: 16px;
    }

    #cadastro{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 2px;
        margin: 18px 0;
    }

}